:root{
    scroll-behavior: auto;
}
.dark{
    background-color:rgba(0,0,0,0.5);
    color: white;
}

.light{
    color: black;
}

.grey{
    background:lightgrey;
    height: 2000px;
    margin-top: 500px;
}

.image{
    float: right;
    width: 400px;
    position: sticky;
    top: 100px;
}

.card-background{
    height: 3000px;
    margin-top: 800px;
    margin-bottom: 1600px;
}

.card-box img{
    display: block;
    margin: auto;
    max-width: 80%;
}

.card-box{
    position: sticky;
    top: 300px;
    margin-top: 200px;
    transition: all 0.2s;
}

.text{
    float: left;
    width: 300px;
}

.product {
    display: flex;
    padding: 10px;
  }
  .thumbnail {
    max-width: 200px;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
  }
  .product .price {
    font-size: 16px;
    font-weight: 600;
  }
  .product .title {
    font-size: 17px;
    font-weight: 600;
  }
  .product .date {
    color: grey;
    font-size: 13px;
  }

.black-bg {
    width : 100%;
    height : 100%;
    position : absolute;
    bottom: 1080px;
    right: 0px;
    background : rgba(0,0,0,0.5);
    z-index : 6;
    padding: 30px;
    visibility: hidden;
    /* opacity: 0; */
    transition: all 1s;
  }

  .white-bg {
    background: white;
    color: black;
    border-radius: 5px;
    padding: 30px;
  } 

.show{
    visibility: visible;
    bottom: 0px;
    /* opacity: 1; */
}


.slide-container{
    width: 700vw;
}

.slow{
    transition: 1s;
}

.slide-box {
    width: 100vw;
    float: left;
}

.slide-box img {
    width: 100%;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar-brand{
    font-size: 30px;
    transition:all 1ms;
}

.detail-pic {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
  } 

  .chat-content {
    height: 450px;
    overflow-y: scroll;
    padding: 10px;
  }
  .chat-content li {
    margin-top: 10px;
  }
  .text-small {
    font-size: 12px;
    color: gray;
    margin-bottom: 0;
  }
  .chat-box {
    background: #eee;
    padding: 5px;
    border-radius: 5px;
    float: left;
  }
  .mine {
    float: right;
  }

